.DS_Store
.cache/**
Makefile
scripts/**
samples/**
compatibility/**
.git/**
.gitattributes
.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
assets/preview_*.png
.gitignore
.yarnrc
esbuild.js
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc.json
test/**
**/tslint.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
bin/**
build/**
docs/**
tools/**
typings/**
third_party/**
codereview.cfg
vsc-extension-quickstart.md
.user-data-dir-test/**
SECURITY.md
