/*
  COLOR PALETTE
  YELLOW      : #DDCA6F || #DDCA6F
  BLACK YELLOW: #A7925A || #A5925C
  BLUE        : #839BBC
  RED || PINK : #F07178
  GREY        : #666
*/

:root{
  --color-yellow: #DDCA6F;
  --color-yellow-old: #DBCA81;
  --color-yellow-black: #A7925A;
  --color-yellow-black-old: #A5925C;
  --color-blue: #839BBC;
  --color-blue-old: #809BBD;
  --color-red: #FF5370;
  --color-red-old: #F07178;
  --color-grey: #666;
}

