/*
  // COLORS PALETTE:
  // BROWN       : #a7925a
  // ORANGE      : #d0782a || #A5925C
  // YELLOW      : #ddca7e || #DDCA6F || #DBCA81
  // BLUE        : #809bbd || #839BBC || #809BBD
  // RED || PINK : #FF5370 || #F07178
  // GREY        : #717790 || #666
  // GREEN       : #96b38a || #96B38A
  // PURPLE      : #9a8297 || #998296
*/

:root{
  --color-brown: #a7925a;
  --color-orange: #d0782a;
  --color-yellow: #ddca7e;
  --color-blue: #809bbd;
  --color-red: #FF5370;
  --color-red-old: #F07178;
  --color-grey: #717790;
  --color-green: #96b38a;
  --cilor-purple: #9a8297;
}

