:root{
  --color-yellow: #DDCA6F;
  --color-yellow-old: #DBCA81;
  --color-yellow-black: #A7925A;
  --color-yellow-black-old: #A5925C;
  --color-blue: #839BBC;
  --color-blue-old: #809BBD;
  --color-red: #FF5370;
  --color-red-old: #f07178;
  --color-grey: #666;
}